/* Common styles for all pages */

html {
  scroll-behavior: smooth;
}

* {
  font-family: monospace;
  font-weight: 100;
}

body {
    /* margin: 100px; */
    margin-left: 10px;
    margin-right: 10px;
    font-family: Arial, sans-serif;
    background-color: black;
  }
  
  header {
    background-color: black;
    padding: 20px;
    text-align: center;
  }
  
  nav {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (max-width: 700px) {
    nav {
      display: flex;
      flex-direction: column;
    }
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 24px;
  }
  
  nav a.active {
    background-color: white;
    color: black;
  }

  nav a:hover {
    background-color: wheat;
    color: black;
  }
  
  /* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
  } */


  .container {
    max-width: 900px;
    margin: 0 auto;
      justify-content: center;
      align-items: center;
      text-align: center;
  }
  
  .content {
    background-color: black;
    /* padding: 20px; */
    text-align: center;
    width: 100%;


  }

  ul > * {
    color: white;
    max-width: 400px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  
  /* Styles for specific pages */
  .container .content h1 {
    /* font-size: 40px;
    color: white;
    font-weight: bold; */
    /* text-transform: uppercase; */
  }
  
.classes-name {
  font-size: 40px;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}

/* @media screen and (max-width: 678px) {
  .classes-name {
    font-size: 35px;
  }
} */

  .container .content h2 {
    font-size: 26px;
    color: white;
  }

  p {
    color: white;
    font-size: 20px;
    line-height: 30px;
  }



@media only screen and (max-width:600px) {
  h1 {
    color: white;
    font-size: 30px;
  }

}

  table {
    font-size: 24px;
  }

label {
  font-size: 24px;
  color: orange
}

  h2 {
    color: white;
  }
  
  .container .content p {
    /* font-size: 18px; */
    /* color: white; */
    margin-bottom: 20px;
  }
  
  .container .content img {
    width: 100%;
    max-width: 900px;
    /* margin-top: 10px; */
  }

  .desc-img {
    /* width: 500px; */
  }
  
  .container .content .author {
    font-style: italic;
    font-size: 12px;
  }
  
  .container .content .cta-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 20px;
  }

  .devider-30 {
    padding-bottom: 30px;
  }
  
  .container .content .cta-link:hover {
    background-color: white;
  }
  
  .container .content table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
  }
  
  .container .content table th,
  .container .content table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .container .content table th {
    background-color: black;
  }
  
  .container .content form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  .container .content form label {
    display: block;
    margin-top: 10px;
  }
  
  .container .content form input[type="text"],
  .container .content form input[type="email"],
  .container .content form textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  .container .content form input[type="submit"] {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .container .content form input[type="submit"]:hover {
    background-color: black;
  }
  
  /* Responsive styles */
  @media only screen and (max-width: 600px) {
    .container .content h1 {
      font-size: 36px;
      margin-top: 50px;
    }
  
    .container .content h2 {
      font-size: 24px;
    }
  
    .container .content img {
      width: 100%;
    }
  }
  
  .collapsible-label {
    display: block;
    padding: 10px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: lightgreen;
  }

  /* .collapsible-label:active {
    color: red;
  } */
  
  .collapsible-checkbox {
    display: none;
  }
  
  .collapsible-checkbox:checked ~ .collapsible-content {
    display: block;
  }
  
  .collapsible-content {
    display: none;
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
  }



  .about-course-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }


  @media (max-width: 768px) {
    .about-course-container {
      padding: 10px;
    }
  }

  .image-about {
    border-radius: 10px;
    /* padding-bottom: 30px; */
    /* padding-top: 30px; */
    /* max-width: 900px; */
    width: 100%;
  }

  .image-404 {
    max-width: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .highlighted-text {
    color: orange;
    text-decoration: none;
  }

  a {
    text-decoration: none;
  }

  .intense-label {
    color: orange;
  }

  .open-label {
    color: greenyellow;
  }

  .open-soon {
    color: orange;
  }

  .button {
    display: inline-block;
    cursor: pointer;
  }
  
  .button img {
    max-width: 200px;
    height: auto;
  }
  
  .button:focus {
    outline: none;
  }
  
  .button:hover img {
    opacity: 0.8;
  }
  
.sorry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  text-align: center;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding-left: 30px;
  padding-right: 30px;
}

.in-row {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

@media screen and (max-width:800px) {
  .in-row {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    line-height: 0px;
  }
}

.sub-text-small {
  font-size: 16px;
}

.sub-text-smaller {
  font-size: 12px;
}

.book-button {
  /* height: 60px; */
  font-size: 20px;
  background-color: white;
  color: black;
  border: 0px;
  border-radius: 5px;
  /* margin: 20px; */
  padding: 10px;
  cursor: pointer;
}

.book-button:hover {
  background-color: wheat;
  color: black;
}

.class-container {
  max-width: 900px;
margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: solid pink; */
  padding-bottom: 100px;
  color: white;
}

.logo {
  font-size: 60px;
  color: white;
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 30px;
  }
}

.shout-out {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: dotted wheat;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 10px;
}

.hero-sub-text {
  text-decoration: underline;
}

.hero-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  /* width: 100%; */
  text-align: center;
}

.fa-chevron-down {
  font-size: 25px;
}


.image-profile {
  max-width: 350px;
  border-radius: 100%;
  clip-path: circle();
}

.ceo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.col-2-ceo p {
  margin: 0;
}

@media screen and (max-width:750px) {
  .ceo {
    flex-direction: column;
    gap: 20px;
  }
}